
<section class="header-main border-bottom bg-light-orange ">
    <div class="container-fluid fixed-div bg-light-orange">
      <div class="row  pt-3 pb-2 d-flex align-items-center">
        <div class="col-md-2">
          <img class="d-none d-md-flex" src="assets/applicationlogo.png" style="width: 45px; height: 35px;"  routerLink="/home">
        </div>
        <div class="col-md-6">
          <div class="d-flex form-inputs">
            <input class="form-control" type="text" #search placeholder="Search any product..." (keyup.enter)="searchOnEnter(search.value)">
            <i class="bx bx-search"></i>
          </div>
        </div>
  
        <div class="col-md-2">
          <div class="d-flex d-none d-md-flex flex-row align-items-center">
            <span class="shop-bag"><i class='bx bxs-shopping-bag'></i></span>
            
              <button type="button " class="btn btn-primary shadow-none" (click)="viewCart()"><img  style="width: 30px; height: 25px;" src="/assets/whitecart.png"></button>
         
          </div>

      </div>
      <div class="class col-md-2">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="text-white" routerLink="/" data-toggle="modal" >logout</a>
          </li>
         
        </ul>
      </div>
    </div>
    </div>
    
  </section>


