<div>
  <section >
    <div class="container mt-5 pt-3">
      <div class="row">
        <div class="col-12 text-center">
     
          <img src="assets/emptycart.svg" class="mb-3" alt="" style=" max-height: 200px; max-width: auto; ">
     
          <h2>Your cart is currently empty</h2>
    
          <p class="mb-0">I think the below button is important. Hit this button and you will find a lot of interesting products on our "Shop" page</p>
      
         <a routerLink="/home"  class="btn btn-primary mt-4 mb-0">Back to Shop</a>
        </div>
      </div>
    </div>
  </section>

</div>