<app-navbar></app-navbar>
<div class="d-flex align-items-center justify-content-center vh-100 mt-5">
    <div class="text-center row">
      <div class=" col-md-6">
        <img src="assets/notfoundjpg.jpg" alt="" class="img-fluid">
      </div>
      <div class=" col-md-6 mt-5">
        <p class="fs-3"> <span class="text-danger">Opps!</span> Item not found.</p>
        <p class="lead">
          The item you’re looking for doesn’t exist.
        </p>
        <a routerLink="/home" class="btn btn-primary">Go Home</a>
      </div>

    </div>
  </div>