

<div class="wrapper fadeInDown">
  <div id="formContent">



    <div class=" d-flex justify-content-center pl-5 pr-5 pt-4 ">
      <img class="d-none d-md-flex" src="assets/applicationlogo.png" style="width: 45px; height: 45px;">
    </div>
    <div class="fadeIn first pl-5 pr-5 pt-2 pb-3">
      <h1>Please Login</h1>
    </div>


    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="d-flex justify-content-center">
        <div class="form-outline px-5 mt-3">
          <input class="form-control form-control-lg narrower-input" #user placeholder="Enter Username"
            formControlName="username">
        </div>
      </div>

      <span class="text-danger font-italic small" *ngIf="userName && userName.invalid && userName.touched">Invalid
        Username</span>

      <br>
      <div class="d-flex justify-content-center">
        <div class="form-outline px-5 mt-3">
          <input type="password" class="form-control form-control-lg narrower-input" name="password" #pass
            placeholder="Enter password" formControlName="password">
        </div>
      </div>
      <span class="col-sm-7 text-danger font-italic small"
        *ngIf="password &&  password.invalid && password.touched">please input valid
        password</span>
      <br>
      <br>

      <input type="submit" class="fadeIn fourth " value="Login">

      <div class="text-center">
        <p>Not a member? <a routerLink="/registration">Register</a></p>
      </div>
    </form>




    <div *ngIf="authentication ; else loggedOut">
      <div class="alert alert-danger">
        <strong>Invalid Credentials</strong>
      </div>

    </div>

    <ng-template #loggedOut>
      <div class="alert alert-success">
        <strong>Success!</strong>
      </div>

    </ng-template>

  </div>
</div>